/*

DIGITAL TREND

https://templatemo.com/tm-538-digital-trend

*/
  
  @font-face {
      font-family: 'Plain-Regular';
      src: url('../fonts/Plain-Regular.woff2') format('woff2'),
          url('../fonts/Plain-Regular.woff') format('woff');
      font-weight: normal;
      font-style: normal;
  }

  @font-face {
      font-family: 'Plain-Light';
      src: url('../fonts/Plain-Light.woff2') format('woff2'),
          url('../fonts/Plain-Light.woff') format('woff');
      font-weight: bold;
      font-style: normal;
  }

  @font-face {
      font-family: 'Plain-Bold';
      src: url('../fonts/Plain-Bold.woff2') format('woff2'),
          url('../fonts/Plain-Bold.woff') format('woff');
      font-weight: bold;
      font-style: normal;
  }

  :root {
    --primary-color:        #00e1ff;
    --secondary-color:      #f1c111;
    --white-color:          #ffffff;
    --dark-color:           #171819;
    --project-bg:           #f0f8ff;
    --menu-bg:              #1bad16;  


    --base-font-family:     'Plain-Light', sans-serif;
    --title-font-family:    'Plain-Regular', sans-serif;
    --font-bold-family:     'Plain-Bold', sans-serif;
    --font-weight-bold:     bold;

    --h1-font-size:         42px;
    --h2-font-size:         32px;
    --h3-font-size:         24px;
    --p-font-size:          18px;
    --base-font-size:       16px;
    --menu-font-size:       14px;

    --border-radius-large:  100px;
    --border-radius-small:  5px;
  }

  body {
    background: var(--white-color);
    font-family: var(--base-font-family);
  }

  /*---------------------------------------
     TYPOGRAPHY              
  -----------------------------------------*/

  h1,h2,h3,h4,h5,h6 {
    font-family: var(--title-font-family);
    line-height: inherit;
  }

  h1 {
    color: var(--title-color);
    font-size: var(--h1-font-size);
  }

  h2 {
    font-size: var(--h2-font-size);
    font-weight: 100;
  }

  h3 {
    font-size: var(--h3-font-size);
    font-weight: 100;
    margin-bottom: 0;
  }

  h4 {
    color: var(--gray-color);
    font-family: var(--base-font-family);
    font-size: var(--p-font-size);
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  p {
    color: var(--p-color);
    font-size: var(--p-font-size);
    line-height: 1.5em;
  }

  b, 
  strong {
    letter-spacing: 0;
    color: var(--secondary-color);
  }


  /*  BLOCKQUOTES */
  .quote {
    position: relative;
    margin: 0;
  }

  .quote::after {
    content: "“";
    position: absolute;
    bottom: -80px;
    left: 20px;
    font-family: times;
    color: var(--gray-color);
    font-weight: var(--font-weight-bold);
    font-size: 14em;
    line-height: 0;
    opacity: 0.10;
  }

  blockquote {
    border-left: 5px solid rgba(0,0,0,0.05);
    display: block;
    margin: 42px 0;
    padding: 14px 22px;
    color: rgba(0,0,0,0.5);
  }


  /* BUTTON */
  .custom-btn {
    background: transparent;
    border: 2px solid var(--dark-color);
    border-radius: var(--border-radius-large);
    padding: 12px 26px 14px 26px;
    color: var(--dark-color);
    font-family: var(--title-font-family);
    font-size: var(--p-font-size);
    white-space: nowrap;
  }

  .custom-btn.btn-bg {
    background: var(--white-color);
    color: var(--primary-color);
    border-color: transparent;
	transition: all .3s ease;
  }
  
  .custom-btn:hover,
  .custom-btn:focus {
    background: var(--dark-color);
    color: var(--white-color);
    border-color: transparent;
  }


  /*---------------------------------------
     GENERAL               
  -----------------------------------------*/

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  *::before,
  *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  a {
    color: var(--link-color);
    font-weight: normal;
    text-decoration: none;
  }

  a:hover, 
  a:active, 
  a:focus {
    color: var(--secondary-color);
    outline: none;
    text-decoration: none;
  }

  ::selection {
    background: var(--secondary-color);
    color: var(--white-color);
  }


  /*---------------------------------------
    MENU             
  -----------------------------------------*/

  .navbar {
    background: var(--menu-bg);
    z-index: 2;
    top: 0;
    right: 0;
    left: 0;
    padding: 0.5em;
  }

  .navbar-brand {
    color: var(--white-color);
    font-size: var(--h2-font-size);
  }

  .nav-link {
    color: var(--white-color);
    font-size: var(--menu-font-size);
    letter-spacing: 0.4px;
    margin: 0 1.6em;
    padding: 0.6em;
  }

  .nav-link.active,
  .nav-link:hover {
    color: var(--secondary-color);
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
  }

  .navbar-expand-lg .navbar-nav .nav-link.contact {
    border: 2px solid var(--secondary-color);
    border-radius: var(--border-radius-large);
    color: var(--secondary-color);
    font-family: var(--font-bold-family);
    padding: 0.6em 2em 0.8em 2em;
  }

  .navbar-expand-lg .navbar-nav .nav-link.contact:hover,
  .navbar-expand-lg .navbar-nav .nav-link.contact.active {
    background: var(--secondary-color);
    color: var(--white-color);
  }

  .navbar-nav .navbar-toggler-icon {
    background: none;
  }

  .navbar-toggler {
    border: 0;
    padding: 0;
    cursor: pointer;
    margin: 0 10px 0 0;
    width: 30px;
    height: 35px;
    outline: none;
  }

  .navbar-toggler:focus {
    outline: none;
  }

  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    background: transparent;
  }

  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::before,
  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::after {
    transition: top 300ms 50ms ease, -webkit-transform 300ms 350ms ease;
    transition: top 300ms 50ms ease, transform 300ms 350ms ease;
    transition: top 300ms 50ms ease, transform 300ms 350ms ease, -webkit-transform 300ms 350ms ease;
    top: 0;
  }

  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::before {
    transform: rotate(45deg);
  }

  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::after {
    transform: rotate(-45deg);
  }

  .navbar-toggler .navbar-toggler-icon {
    background: var(--white-color);
    transition: background 10ms 300ms ease;
    display: block;
    width: 30px;
    height: 2px;
    position: relative;
  }

  .navbar-toggler .navbar-toggler-icon::before,
  .navbar-toggler .navbar-toggler-icon::after {
    transition: top 300ms 350ms ease, -webkit-transform 300ms 50ms ease;
    transition: top 300ms 350ms ease, transform 300ms 50ms ease;
    transition: top 300ms 350ms ease, transform 300ms 50ms ease, -webkit-transform 300ms 50ms ease;
    position: absolute;
    right: 0;
    left: 0;
    background: var(--white-color);
    width: 30px;
    height: 2px;
    content: '';
  }

  .navbar-toggler .navbar-toggler-icon::before {
    top: -8px;
  }

  .navbar-toggler .navbar-toggler-icon::after {
    top: 8px;
  }



  /*---------------------------------------
     HERO              
  -----------------------------------------*/

  .hero {
    position: relative;
    padding: 5em 0;
    overflow: hidden;
  }

  .hero-bg {
    background: linear-gradient(170deg, var(--primary-color) 64%, var(--white-color) 30%);
  }

  .hero-image {
    position: relative;
    top: 2em;
  }


  /*---------------------------------------
     Login + signup             
  -----------------------------------------*/

.input-block {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-block .form-group {
    margin-bottom: 15px;
}

.input-block .custom-btn {
    width: 100%;
}

.input-block p {
  margin-top: 15px;
  text-align: center;
}

.input-block p a {
  color: #007bff;
  text-decoration: none;
}

.input-block p a:hover {
  text-decoration: underline;
}


  /*---------------------------------------
     Actions            
  -----------------------------------------*/


    
.welcome-user {
  font-size: 36px;       /* Makes the title big */
  color: rgb(255, 255, 255);          /* Sets the text color to white */
  background: none;      /* Ensures there's no background */
  font-weight: bold;     /* Makes the text bold */
  text-align: center;    /* Centers the text */    /* Adds some vertical margin */
  padding: 0;
}

/* Enhancing the .actions-block container */
.actions-block {
  background-color: #e0f7fa;  /* Light cyan background color */
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;  /* More rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  /* Stronger shadow for more depth */
  display: flex;  /* Flexbox for alignment */
  align-items: center;
  justify-content: center;
  flex-direction: column;  /* Center items vertically and stack them */
}

.positive-balance {
  color: rgb(0, 255, 0);
}

.non-positive-balance {
  color: red;
}

/* Styling the input elements */
.actions-block input[type="text"] {
  margin: 20px 0;  /* Vertical margin for spacing */
  padding: 10px;  /* Padding for more space inside the input */
  border: 1px solid #b0bec5;  /* Light gray border */
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  /* Subtle shadow for depth */
  transition: box-shadow 0.3s ease;  /* Smooth transition for shadow */
}

/* Hover effect for input elements */
.actions-block input[type="number"]:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  /* Increase shadow on hover */
}

/* Styling the button elements */
.actions-block button {
  margin-top: 10px;  /* Margin on top for spacing */
  padding: 10px 20px;  /* Padding for better button size */
  background-color: #00796b;  /* Teal background color */
  color: white;  /* White text color */
  border: none;  /* No border */
  border-radius: 5px;  /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  /* Subtle shadow */
  cursor: pointer;  /* Pointer cursor on hover */
  transition: background-color 0.3s ease, box-shadow 0.3s ease;  /* Smooth transitions */
}

/* Hover effect for button elements */
.actions-block button:hover {
  background-color: #000000;  /* Darker teal on hover */
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);  /* Increase shadow on hover */
}

/* Optional: Styling for focus state of input elements */
.actions-block input[type="number"]:focus {
  outline: none;  /* Remove default outline */
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);  /* Blue glow on focus */
}

.chart-container {
  text-align: center;
  padding: 20px;
  background: linear-gradient(135deg, #c6ffce, #47fc84);
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  width: 70%;
  margin: 0 auto;
}

.chart-title {
  font-size: 28px;
  font-weight: bold;
  color: #333;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  transition: color 0.3s ease, text-shadow 0.3s ease;
  margin: 0;
  padding: 25px 0;
}


.chart-title:hover {
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.chart-block canvas {
  background-color: #ffffff;
  width: 80%;
  display: block;
  margin: 0 auto 20px auto;
  padding: 25px;
  height: 400px;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.chart-block canvas:hover {
  transform: scale(1.05);
}

.stats-container {
  width: 80%;
  margin: 40px auto;
  padding: 20px;
  background: #ceffd2;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.stats-table {
  width: 100%;
  border-collapse: collapse;
  border-width: 100px;
  margin: 0 auto;
}

.stats-table td {
  padding: 20px;
  border: 1px solid #ddd;
  font-size: 18px;
  color: #333;
}

.stats-table tr:first-child td {
  background-color: #599161;
  font-weight: bold;
}
