{% extends 'base.html' %}

{% block content %}
<section class="hero hero-bg d-flex justify-content-center align-items-center">
    <div class="col-lg-6 col-md-10 col-12 d-flex flex-column justify-content-center align-items-center">
        <div class="welcome-user" data-aos="fade-up">
            Hello {{username}} Current balance<br><span id="balance">{{balance}}$</span>
        </div>
        <div class="actions-block"  data-aos="fade-up">
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    <span id="error" >{{ error }}</span>
                </div>
            {% endif %}
            <form method='POST'>
                <input type="text" inputmode="decimal" pattern="^[0-9]+([.,][0-9]{1,2})?$" id="amount" name="amount" placeholder="Enter amount" required>
                <button type="submit" name="action" value="deposit">Deposit</button>
                <button type="submit" name="action" value="withdraw">Withdraw</button>
            </form>
        </div>
    </div>
</section>
<div class="chart-container" data-aos="fade-up">
    <p class="chart-title">Financial Activity Summary: Monthly overview</p>
    <div class="chart-block">
      <canvas id="myChart"></canvas>
    </div>
</div>

<div class="stats-container">
    <table class="stats-table">
      <tr>
        <td>Actions this month</td>
        <td>Average actions per day</td>
        <td>Average amount per action</td>
      </tr>
      <tr>
        <td id="action-number">{{ stats[0] }}</td>
        <td id="avg-actions-per-day">{{ stats[1] }}</td>
        <td id="avg-amount-per-action">{{ stats[2] }}</td>
    </table>
  </div>
<!-- Include Chart.js and plugins -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!-- Include custom JavaScript files -->
<script src="static/js/balance.js"></script>
<script id="overview-data">var overview = {{ overview | tojson | safe }};</script>
<script src="static/js/overview_chart.js"></script>
{% endblock %}