{% extends 'base.html' %}

{% block content %}
<section class="hero hero-bg d-flex justify-content-center align-items-center">
    <div class="col-lg-6 col-md-10 col-12 d-flex flex-column justify-content-center align-items-center">
        <div class="welcome-user" data-aos="fade-up">
            Hello {{username}} Current balance<br><span id="balance">{{balance}}$</span>
        </div>
        <div class="actions-block"  data-aos="fade-up">
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    <span id="error" >{{ error }}</span>
                </div>
            {% endif %}
            <form method='POST'>
                <input type="text" inputmode="decimal" pattern="^[0-9]+([.,][0-9]{1,2})?$" id="amount" name="amount" placeholder="Enter amount" required>
                <button type="submit" name="action" value="deposit">Deposit</button>
                <button type="submit" name="action" value="withdraw">Withdraw</button>
            </form>
        </div>
    </div>
</section>
<canvas id="myChart"></canvas>
<!-- Include Chart.js and plugins -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!-- Include custom JavaScript files -->
<script src="static/js/balance.js"></script>
<script id="overview-data">var overview = {{ overview | tojson | safe }};</script>
<script src="static/js/overview_chart.js"></script>
{% endblock %}