{% extends 'base.html' %}

{% block content %}
    <section class="hero hero-bg d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-10 col-12 d-flex flex-column justify-content-center align-items-center">
                <div class="hero-text">
                    <h1 class="text-white" data-aos="fade-up">Login</h1>

                    <div class="input-block" data-aos="fade-up">
                        {% if error %}
                        <div class="alert alert-danger" role="alert">
                            <span id="error" >{{ error }}</span>
                        </div>
                        {% endif %}
                        <form action="" id="loginform" method="post">
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" class="form-control" id="username" name="username" required>
                                <small id="usernameError" class="form-text text-danger"></small>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" name="password" required>
                                <small id="passwordError" class="form-text text-danger"></small>
                            </div>
                            <button type="submit" class="custom-btn btn-bg btn mt-3">Submit</button>
                        </form>
                        <p>Don't have an account? <a href="signup">Sign Up</a></p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-12">
                <div class="hero-image" data-aos="fade-up" data-aos-delay="300">
                    <img src="static/images/crypto.png" class="img-fluid" alt="working girl">
                </div>
            </div>
        </div>
    </div>
</section>
    <script src="static/js/login-validation.js"></script>
{% endblock %}
